@model HuzurELiProjesi.Models.MailRequest
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1 class="text-center">Abone Bülteni</h1>
<form method="post" class="col-11 mx-auto">
    <div class="form-group">
        @Html.Label("Alıcı E-Mail")
        <input type="text" asp-for="ReceiverMail" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Konu")
        <input type="text" asp-for="Subject" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Mesaj İçeriği")
        <textarea cols="30" rows="5" asp-for="Body" class="form-control"></textarea>
    </div>

    <br />
    <button class="btn btn-outline-primary">Mail Gönder</button>
</form>




