@model HuzurELiProjesi.Models.ForgetPasswordViewModel

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />

    <h2>Şifre Yenileme</h2>
    <form method="post">
        <label>Mail Adresinizi Giriniz:</label>
        <input type="text" class="form-control" asp-for="Mail" /><br />
        <button class="btn btn-primary">Gönder</button>
    </form>
</div>